---
import Layout from "../layouts/Layout.astro";

---

<Layout title="About idles">
    <h1 >historia</h1>
    <p >
        Idles (escrito también IDLES) es una banda de rock inglesa, formada en
        Bristol en 2009.​ Su álbum debut Brutalism fue lanzado en 2017, con un
        gran reconocimiento de la crítica,​ mientras que Joy as an Act of
        Resistance apareció al año siguiente. Su último lanzamiento, Ultra Mono,
        salió al mercado en 2020. La banda ha sido descrita como punk rock y
        relacionada con géneros similares como post-punk,​ indie rock, hardcore
        punk,​ y post-hardcore. El cantante Joe Talbot ha rechazado esas
        etiquetas. En 2017 dijo "No somos una banda post-punk. Supongo que
        tenemos ese motorik, el ritmo que tienen algunas bandas post-punk, pero
        tenemos muchas canciones que no son así en absoluto."​ En un concierto
        en Manchester en 2018, dijo "por última vez, no somos una puta banda
        punk".
    </p>
</Layout>
