---
import HeaderButton from "./HeaderButton.astro"
console.log("javascript");
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-black">
            <a><img class="logo" src="https://www.idlesband.com/wp-content/themes/idlesv5/img/idles-logo-rounded.svg" /></a>
        </h2>
        <p class="font-light text-center text-black">
            discografia e historia 
        </p>
    </div>

    <nav
        class="flex flex-col item-center justify-between w-full text-center md:flex-row"
    >
        <HeaderButton class="text-black" href="/astro-pag/src/pages/about.astro">
            <svg  
            slot="before" 
            width="24"  
            height="24"  
            viewBox="0 0 24 24"  
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-info-hexagon"
            >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
            <path d="M12 9h.01" />
            <path d="M11 12h1v4h1" />
            </svg>Historia
            
        </HeaderButton>
        
        <HeaderButton class="text-black" href="#">
            <svg
            slot="before"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-disc">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
            <path d="M7 12a5 5 0 0 1 5 -5" />
            <path d="M12 17a5 5 0 0 0 5 -5" />
            </svg>Discografia
        </HeaderButton>
        <HeaderButton class="text-black" href="#">
            <svg  
            slot="before"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-google-photos">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7.5 7c2.485 0 4.5 1.974 4.5 4.409v.591h-8.397a.61 .61 0 0 1 -.426 -.173a.585 .585 0 0 1 -.177 -.418c0 -2.435 2.015 -4.409 4.5 -4.409z" />
            <path d="M16.5 17c-2.485 0 -4.5 -1.974 -4.5 -4.409v-.591h8.397c.333 0 .603 .265 .603 .591c0 2.435 -2.015 4.409 -4.5 4.409z" />
            <path d="M7 16.5c0 -2.485 1.972 -4.5 4.405 -4.5h.595v8.392a.61 .61 0 0 1 -.173 .431a.584 .584 0 0 1 -.422 .177c-2.433 0 -4.405 -2.015 -4.405 -4.5z" />
            <path d="M17 7.5c0 2.485 -1.972 4.5 -4.405 4.5h-.595v-8.397a.61 .61 0 0 1 .175 -.428a.584 .584 0 0 1 .42 -.175c2.433 0 4.405 2.015 4.405 4.5z" />
            </svg>
            galeria
        </HeaderButton>
            
    </nav>
</header>
